.h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: #9a5600;
  text-align: center;
}
.title {
  text-align: center;
  color: #9a5600;
  font-size: 1.7rem;
  font-weight: 600;
  padding: 5px;
}
.gridImage {
  height: 190px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  width: 80%;
  margin: 20px auto;
  gap: 10px;
}
.gridMenu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  width: 80%;
  margin: 0px auto;
  gap: 10px;
}
.gridMenuCard {
  border-bottom: solid #c3c0c0 1px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

  margin: 20px auto 0px auto;
}
.homeCardButton {
  width: 50%;
  margin: 10px auto;
}
.intro {
  width: 85%;
  text-align: center;
  margin: 20px auto 20px auto;
  color: whitesmoke;
  word-spacing: 2px;
  font-size: 1.1rem;
}
.viewMenuButton {
  width: 60%;

  margin: 10px auto;
}
.catering,
.location,
.trademark {
  width: 85%;
  text-align: center;
  margin: 20px auto 20px auto;
  color: whitesmoke;
  word-spacing: 2px;
}
.logoImage {
  width: 50px;
  height: 50px;
}
.navbartitle {
  font-family: "Nosifer", cursive;
  display: flex;
  align-content: center;
  padding: 20px 0px 0px 7px;
  text-align: center;
  color: #f09825;
  font-size: 1.6rem;
  margin-bottom: 0px;
}
.menuCarousel {
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 13px;
}
.navbartitleP {
  color: #c3c0c0;
  font-weight: 600;
  padding-left: 7px;
}
.menuFooterIcons {
  display: grid;
  justify-content: center;
  align-items: center;
}
.trademark {
  margin-top: 20px;
  margin-bottom: 20px;

  display: grid;
  justify-content: center;
}

.eventCateringP,
.locationP,
.trademarkP {
  margin: 2px;
  font-size: 1.1rem;
}
