.basketWrapper {
  margin: 5px 0px 10px 0px;
}
.menuPageTitle {
  color: whitesmoke;
  text-align: center;

  padding: 10px;
}
.navbartitle {
  font-family: "Nosifer", cursive;
  display: flex;
  align-content: center;
  padding: 20px 0px 0px 7px;
  text-align: center;
  color: #f09825;
  font-size: 1.6rem;
  margin-bottom: 0px;
}
.navbartitleP {
  color: #c3c0c0;
  font-weight: 600;
  padding-left: 7px;
}
.basketItem {
  display: flex;
  width: 75%;
  margin: 0px auto;
  border: 1px solid grey;
  align-items: center;
  background-color: whitesmoke;
}
.basketItemRight {
  margin-left: auto;
}
.basketItem > p {
  padding: 10px;

  font-weight: 600;
  font-size: 1.2rem;
}
.basketItem > .basketItemRight {
  padding: 10px;

  font-weight: 600;
  font-size: 1.2rem;
}
.basketItemLeft {
  margin: 0px;
}
