.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 10px;
  border: solid 1px gray;
}
.image {
  width: 90%;
  margin: 20px auto;
  border-bottom: solid #c3c0c0 1px;
}
img {
  width: 100%;
}

.raspberry {
  text-align: center;
  color: grey;
  font-size: 1.2rem;
}

.btn {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 7px 16px;
  margin: 20px 20px;
  background-color: #3fbf7f;
  color: white;
}
.btn:hover {
  background-color: grey;
  cursor: grab;
  color: black;
}
i {
  padding-right: 10px;
}
.anchor {
  font-size: 1.2rem;
}
.star {
  display: flex;
  justify-content: center;
  color: yellowgreen;
  cursor: pointer;
}
