.menu {
  background-color: rgb(58, 54, 54);
}
.wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-content: center;

  margin-bottom: 20px;
  margin-top: 55px;
}
.menuCard {
  border-bottom: solid #c3c0c0 1px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  width: 85%;
  text-align: center;

  color: white;
  margin: 20px auto 0px auto;
}
.menuHeader {
}
.h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.title {
  text-align: center;
}
.contentDiv {
  margin: 10px 0 10px 0;
}
.p {
  margin-bottom: 7px;
  font-size: 1.15rem;
}
.contentButton {
  width: 60%;

  margin: 10px auto;
}
.name {
  color: #9a5600;
  padding: 5px;
}
.wait {
  background-image: url("/images/menuBackground.jpg");

  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.catering {
  width: 85%;
  text-align: center;

  color: white;
  margin: 5px auto 0px auto;
}
.location {
  margin-top: 20px;
  margin-bottom: 20px;
}
.menuFooterIcons {
  display: grid;
  justify-content: center;
  align-items: center;
}
.menuFooterTrademark {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: grid;
  justify-content: center;
}
.p {
  margin-bottom: 0px;
  text-align: center;
  color: whitesmoke;
}
